<div class="customer-order-card col-sm" id="menu-card">
        <div class="order-info">
          <div class="restaurant-name">
            Restaurant Name
          </div>
          <div class="order" id="customer-order">
            <div class="c-order-list" >
              <div class="c-order-item">Food Name x1 </div>
              <div class="c-order-item">Food Name x1 </div>
              <div class="c-order-item">Food Name x1 </div>
            </div>
          </div>
          <span class="total-price">TOTAL :PHP XX.XX</span>
        </div>
        <div class="restaurant-picture">
          <div class="picture" style="background-image: url(https://image.shutterstock.com/image-photo/two-fresh-submarine-sandwiches-ham-600w-497930494.jpg);"></div>
        </div>
</div>