<footer class="footer mt-5">
  <div class="footer-content">
    <div class="footer-section about">
        <h6 style="color:#FFDE59">About</h6>
        <h7 style="color:white">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
          ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
           deserunt mollit anim id est laborum."
        </h7>
    </div>
    <div class="footer-section other">
      <h6 style="color:#FFDE59">Other</h6>
    </div>
  </div>
  <hr style="border-top-color:#FFDE59;opacity:0.5">
  <div class="footer-bottom">
      Copyright &copy; 2020 All Rights Reserved by <a href="#" style="color:#FFDE59">LocalEats</a>.
  </div>
</footer>