<footer class="footer"  id="footer_of_the_page">
  <div class="row text-justify">
    <div class="col-lg-6">
        <h4 style="color:#FFDE59">About Us</h6>
        <h7 style="color:white">
          Localeats is a web application that will be developed to aid the Philippines’ local restaurants in this fight. In this system, restaurants may register their own accounts and post their menu. In turn, customers can register for their own accounts and have a comprehensive look at what these local restaurants have to offer. Contact details are displayed for the user to have an avenue to contact restaurants of their interest. <a href="/about" style="color:#FFDE59">Read More</a>.
       <a href="/about" style="color:#FFDE59">Read More</a>.
        </h7>
    </div>
    <div class="col-lg-4">
        <h4 style="color:#FFDE59">Customer Care</h6>
      <ul>
          <a href="/terms"><li>Terms</li></a>
          <hr style="border-top-color:#FFDE59;opacity:1">
          <a href="/privacy"><li>Privacy</li></a>
          <hr style="border-top-color:#FFDE59;opacity:1">
          <a href="/contacts"><li>Contact Us</li></a>
      </ul>
    </div>
    <div class="col-lg-2">
        <h4 style="color:#FFDE59">Social Links</h6>
      <ul class="footer-socials">
          <a class="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
          <a class="twitter" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
      </ul>
    </div>
  </div>
  <hr style="border-top-color:#FFDE59;opacity:1">
  <div class="row text-center">
    <div class="col" style="color:white">
      Copyright &copy; 2020-2021 All Rights Reserved by <a  style="color:#FFDE59">LocalEats</a>.
    </div>
  </div>
</footer>