<div class="menu-card col-sm" id="menu-card">
  <div >
        <div class="item-picture my-2" style="float:left; margin-right: 20px ; ">
          <div class="picture" style="background-image: url(https://image.shutterstock.com/image-photo/two-fresh-submarine-sandwiches-ham-600w-497930494.jpg);"></div>
        </div>
        <div class=" item-info float:left;">
          <div class="item-name">
            {{product.name}}
          </div>
          <div>
            <div class="item-description break-long-words" style="margin:5px 0 0 0">
              {{product.desc}}
            </div>
            <div>
              Type :  {{product.category}}
            </div>
            <span class="item-price" style="font-weight: 500;">₱ {{product.price}}.00</span>
          </div>
        </div>
  </div>
  
        {{#if restaurant_user}}
          <button type="button" class="btn btn-outline btn-lg btn-block" style="background:#38B6FF; border-color:#38B6FF; font-weight:bolder; color:#FFDE59; margin-top: 10px;">Remove item</button>
        {{/if}}
</div>