<div class="menu-card col-sm">
        <div class="item-info">
          <div class="item-name">
            Food Name
          </div>
          <div class="item-description">
            Food description, description
          </div>
        </div>
        <div class="item-picture">
          <div class="picture" style="background-image: url(https://image.shutterstock.com/image-photo/two-fresh-submarine-sandwiches-ham-600w-497930494.jpg);"></div>
        </div>
</div>