<nav class="navbar navbar-custom navbar-expand-lg w-100 fixed-top">
    <a class="navbar-brand" href="/"> 
        <img src="assets/LELOGONew.png" width="50" height="50" > LocalEats
    </a> 
    <form action="/search" class="form-inline my-lg-0 ml-auto"  method="GET">
        <div class="input-group " style="width:100%;">
            <input id="nav-search" type="text" name="search" class="form-control" placeholder="Search" style="border-radius: 100px 0 0 100px; width:40%;">
            <div class="input-group-prepend">
                <button id="nav-btn-search" class="btn" type="submit" style="border-radius: 0 100px 100px 0; background-color:#FFDE59;">
                    <i class="fa fa-search " style="color:#38B6FF;"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="ml-auto" style="float:right">
        <button class="btn btn-outline" type="button" data-toggle="modal" data-target="#loginModal">Login</button>
    </div> 
    <div class="customer-profile-dropdown dropdown">
        <div class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-2x" ></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/customer_profile">Profile</a>
            <a class="dropdown-item" href="/restaurant_profile">Profile(Restaurant)</a>
            <a class="dropdown-item" href="/landing">Log Out</a>
            </div>
        </div>   
    </div>
</nav>



