<nav class="navbar navbar-custom navbar-expand-lg w-100 fixed-top">
    <a class="navbar-brand" href="/"> 
        <img src="assets/LELOGONew.png" width="50" height="50" > LocalEats
    </a> 

    <div class=" my-2 my-lg-0 ml-auto" style="float:right">
        <button class="btn btn-outline" type="button" data-toggle="modal" data-target="#loginModal">Login</button>
    </div>
       
</nav>



