
<div class="restaurant-card card" style="">
  <div style="width:100%;text-align: center;">
    <img class="card-img-top" src="assets/resto.png" alt="Card image cap" style="height:150px; width:150px">
  </div>
  <div class="card-body">
    <h5 id="restaurant-card-name">Restaurant Name</h5>
    <hr>
    <p class="restaurant-card-cuisine card-text" style="margin:0;"><span class="text-muted">Cuisine:</span> Filipino</p>
    <p class="restaurant-card-cuisine card-text">Php XXX - Php XXX</p>
  </div>
    <div class="card-footer text-center text-muted" >
      View Menu
  </div>
</div>