<div class="modal fade" id="loginModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div>
                    <img src="assets/LogoText.png" width="150" >
                </div>
            </div>
            <div class="modal-body" style="padding:20px;" id="modal-body">
                 <ul class="nav nav-tabs nav-justified" id="modalTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a class="nav-link active"  data-toggle="tab" href="#login"  >Login</a>
                    </li>
                    <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#signup" >Signup</a>
                    </li>
                </ul>
                
                <div class="tab-content" >
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab" >
                        
                        <form>
                                <div class="form-group">
                                    <label for="email" >Email address</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="password" class="form-control" id="pws" placeholder="Password">
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <button class="btn btn-outline" type="submit" >Login</button>
                                </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="profile-tab">
                        <form>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <div class="input-group pb-modalreglog-input-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group pb-modalreglog-input-group">
                                    <input type="password" class="form-control" id="pws" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm Password</label>
                                <div class="input-group pb-modalreglog-input-group">
                                    <input type="password" class="form-control" id="pws" placeholder="Password">
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <button class="btn btn-outline" type="submit" >Signup</button>
                            </div>
                        </form>
                        <div style="text-align: center;">
                            <h9>
                                <a href="/restaurant_registration">
                                    Restaurant?
                                </a>
                            </h9>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
