<div class="inner-wrapper white-back">
   <div class="restaurant-reg-container">
        <h1 class="text-center">
            Restaurant Registration Form
        </h1>
        <p class="text-center">
            <form method="POST" class="restaurant-registration-form" name="register_restaurant" onsubmit="return validateRestoRegister()">
                                <div class="form-group">
                                    <label for="email" >Email address</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" maxlength="255">
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="password">Restaurant Name</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="text" class="form-control" id="displayname" name="displayname" placeholder="Restaurant Name" maxlength="255">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Category</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <!--<input type="text" class="form-control" id="category" name="category" placeholder="Category">-->
                                        <input class="form-control" list="categories" name="category" id="category" placeholder="Category" maxlength="255">
                                          <datalist id="categories">
                                            <option value="Fine Dining">
                                            <option value="Casual Dining">
                                            <option value="Contemporary Casual">
                                            <option value="Family Style">
                                            <option value="Fast Casual">
                                            <option value="Fast Food">
                                            <option value="Cafe">
                                            <option value="Buffet">
                                          </datalist>
                                    </div>


                                </div>
                                <div class="form-group">
                                    <label for="street">Street Address  </label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="text" class="form-control" id="street" name="street" placeholder="Street Address" maxlength="255">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city_province">City / Province  </label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="text" class="form-control" id="city_province" name="city_province" placeholder="City / Province" maxlength="255">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Contact Number  </label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="number" class="form-control" id="contactno" name="contactno" placeholder="Contact Number" maxlength="13">
                                    </div>
                                </div>
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label  for="resto-open-hour">Open Time  </label>
                                        <input type="time" class="form-control" id="open-hour">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label  for="resto-open-hour">Close Time  </label>
                                        <input type="time" class="form-control" id="close-hour" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password  </label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Confirm Password  </label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="image">Profile Image <small>(Optional)</small></label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="file" class="form-control" id="image" name="image">
                                    </div>
                                </div>
                                <p id="registerError" class="error">  </p>
                                <div style="text-align: center;">
                                    <button class="btn btn-outline" type="submit">Signup</button>
                                </div>
                        </form>
                    </div>
        </p>
   </div>
</div>
