@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');

body {
    
 background-color: black;
 color:white;

}

.title {
    font-size: x-large;
}
/*Start of Navbar styles*/
.navbar {
    position: fixed;
}

.navbar-custom{
    background-color: #38B6FF;
    vertical-align: middle;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text { 
    color: FFDE59; 
    font-family: 'Spartan' , sans-serif;
    padding: 0;
} 

.btn-outline{
    color: #FFDE59;
    border-color:#FFDE59;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline:hover {
  background: #FFDE59;
  color: #38B6FF;
  border-color: #FFDE59;
  
}

/* Footer Styles*/
.footer {
    position: relative;
    width: 100% ;
    background-color: #38B6FF;
    padding: 30px ;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    bottom: 0;
}

.footer .footer-content{
    padding:10px;
    display:flex;
}

.footer .footer-content .footer-section{
    flex:1;
    padding:10px;
}

.footer .footer-bottom{
    background: #34a5e7;
    color:white;
    height:50px;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left:0;
    padding-top:15px;
}

/*End of Footer Styles*/



.contact-footer h6 {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.wrapper {
    position: relative;
    z-index: -1;
    width: 100%;
    min-height: 760px;
}

