@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');

body {
    
 background-color: white;
 color:#737373;

}

.title {
    font-size: x-large;
}

.center{
    text-align: center;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 760px;
}
/*Start of Navbar styles*/
.navbar {
    position: fixed;
}

.navbar-custom{
    background-color: #38B6FF;
    vertical-align: middle;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text { 
    color: #FFDE59; 
    font-family: 'Spartan' , sans-serif;
    padding: 0;
} 

.btn-outline{
    color: #FFDE59;
    border-color:#FFDE59;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline:hover {
  background: #FFDE59;
  color: #38B6FF;
  border-color: #FFDE59;
  
}

/* Footer Styles*/
.footer {
    position: relative;
    width: 100% ;
    background-color: #38B6FF;
    padding: 30px ;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    bottom: 0;
}

.footer .col-lg-6{
    padding-top: 30px;
}



.footer h4{
    font-family: 'Spartan' , sans-serif;
}


.footer  a, ul{
    list-style-type: none;
    color:white;
    list-style-position:inside;
    margin:0;
    padding:0;
}

/*End of Footer Styles*/



/*Login/Signup Modal*/

.modal-dialog{
    width: 400px;
    border-radius: 10px;
}

.modal-header{
    background-color:#38B6FF;
    border-bottom:  0px;
}

.modal-header .modal-header-title{
    background-color:#38B6FF;
    border-bottom:  0px;
}

.modal-body{
    background-color:#38B6FF;
    color: #737373;
}

.modal-body .tab-content {
    background-color:white;
    padding:20px;
    border-radius: 0 0 10px 10px;
}

.form-group label{
    text-align: left;
}

.modal-body .nav-tabs .nav-link{
    background-color:#38B6FF;
    color: #FFDE59;
    font-family: 'Spartan' , sans-serif;
}

.modal-body .nav-tabs .nav-link.active{
background-color: white;
color: #38B6FF;
font-family: 'Spartan' , sans-serif;
}


