<div class="inner-wrapper">
  <h1>{{name}} - Edit Profile</h1>
  <div class="padded-container">
    <div class="" id="">
        
           
  <form method="POST" onsubmit="return updateRestoProfile()"  name="updateRProfile">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="resto-name">Restaurant Name</label>
      <input type="text" class="form-control" id="resto-name" name="restaurant-names" value="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="resto-desc">Description</label>
      <textarea id="resto-desc" name="resto-desc" maxlength="255" class="form-control" aria-label="With textarea" 
          style="resize: none;"  ></textarea>
    </div> 
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="resto-street">Street Address</label>
      <input type="text" class="form-control" id="resto-street" value="">
    </div>
    <div class="form-group col-md-2">
      <label for="city">City</label>
      <input type="text" class="form-control" id="resto-city" value="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
        <label  for="resto-open-hour">Open Time</label>
        <input type="time" class="form-control" id="resto-open-hour">
    </div>
     
    <div class="form-group col-md-2">
        <label  for="resto-open-hour">Close Time</label>
        <input type="time" class="form-control" id="resto-close-hour" value="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="resto-category">Category</label>
      <input class="form-control" list="categories" name="resto-category" id="resto-category" maxlength="255" value="">
        <datalist id="categories">
          <option value="Fine Dining">
          <option value="Casual Dining">
          <option value="Contemporary Casual">
          <option value="Family Style">
          <option value="Fast Casual">
          <option value="Fast Food">
          <option value="Cafe">
          <option value="Buffet">
        </datalist>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="resto-contact">Contact Number</label>
      <input type="number" class="form-control" id="resto-contact" name="resto-contact" placeholder="Contact-Number" max="99999999999">
    </div>
  </div>

        <button type="submit" class="btn btn-primary save-RProfile"  style="background:#38B6FF; border-color:#38B6FF; font-weight:bolder; color:#FFDE59">
          Save Changes
        </button>
</form>   
               <button  class="btn btn-primary cancel-Restaurant"  style="background:#969696;  font-weight:bolder; color:#fffdfd">
           Cancel
        </button>
    
    </div>
  </div>
</div>  

