
  <header class="static-header">
    <div class="about_header"></div>
    <div class="about_header_text text-center">
      <h1 style="font-size: 80px;">LocalEats</h1>
    </div>
  </header>

    <div class="inner-wrapper" style="margin-top:20px">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p class="title">ABOUT</p>
                <p class="px-5">Now, more than ever, small businesses headlined by local restaurants are in need of support from the general public to keep their revenues afloat. They are in need of a platform where they can showcase their respective delicacies, and convenient enough for potential customers to view a consolidated list of their food offerings.

	Localeats is a web application that will be developed to aid the Philippines’ local restaurants in this fight. In this system, restaurants may register their own accounts and post their menu. In turn, customers can register for their own accounts and have a comprehensive look at what these local restaurants have to offer. Contact details are displayed for the user to have an avenue to contact restaurants of their interest.

Through Localeats, local restaurants are given a platform to properly present their food to the general public. Customers are given an avenue to help small businesses, and discover new locally-made delicacies at the same time. All of those functionalities are at the convenience of one web application.</p>
            </p>
            </div>
        </div>
        <hr>
        
    </div>


<!-- End of Logion/Signup modal -->
