
  <header class="static-header">
    <div class="about_header"></div>
    <div class="about_header_text text-center">
      <h1>We'd like to hear from you!</h1>
    </div>
  </header>

    <div class="inner-wrapper">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p class="title">Customer?</p>
                <p class="px-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar nibh nec lorem pulvinar, nec aliquet est malesuada. Vivamus pharetra lacinia dolor non tristique. Suspendisse potenti. Etiam imperdiet dui orci, eget pretium eros convallis non. Donec tempus nunc quis pulvinar pellentesque. Ut vel nisi rutrum, feugiat velit quis, convallis justo. Praesent nunc velit, dictum nec interdum et, rutrum semper felis. Curabitur dapibus consectetur ligula, ac vehicula lacus consectetur sit amet. Nullam eleifend posuere turpis et scelerisque. Ut ac est in justo ornare posuere. Maecenas rhoncus, magna ut tincidunt volutpat, arcu massa tempus mauris, id sodales justo enim eu metus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="title">Business owner?</p>
                <p class="px-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar nibh nec lorem pulvinar, nec aliquet est malesuada. Vivamus pharetra lacinia dolor non tristique. Suspendisse potenti. Etiam imperdiet dui orci, eget pretium eros convallis non. Donec tempus nunc quis pulvinar pellentesque. Ut vel nisi rutrum, feugiat velit quis, convallis justo. Praesent nunc velit, dictum nec interdum et, rutrum semper felis. Curabitur dapibus consectetur ligula, ac vehicula lacus consectetur sit amet. Nullam eleifend posuere turpis et scelerisque. Ut ac est in justo ornare posuere. Maecenas rhoncus, magna ut tincidunt volutpat, arcu massa tempus mauris, id sodales justo enim eu metus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="title">Company Inquiry?</p>
                <p class="px-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar nibh nec lorem pulvinar, nec aliquet est malesuada. Vivamus pharetra lacinia dolor non tristique. Suspendisse potenti. Etiam imperdiet dui orci, eget pretium eros convallis non. Donec tempus nunc quis pulvinar pellentesque. Ut vel nisi rutrum, feugiat velit quis, convallis justo. Praesent nunc velit, dictum nec interdum et, rutrum semper felis. Curabitur dapibus consectetur ligula, ac vehicula lacus consectetur sit amet. Nullam eleifend posuere turpis et scelerisque. Ut ac est in justo ornare posuere. Maecenas rhoncus, magna ut tincidunt volutpat, arcu massa tempus mauris, id sodales justo enim eu metus.
                </p>
            </div>
        </div>
        <hr>
        <div class="row contacts-2 text-center">
            <div class="col-lg-6">
                <p class="title text-center">Address</p>
                <p class="px-5" >Location XXXX-XXXXXX
                </p>
            </div>
            <div class="col-lg-6">
                <p class="title text-center">Phone Numbers</p>
                <p class="px-5">(+63) 1234-567-8900</p>
            </div>
        </div>
        <hr>
        
    </div>
