

<div class="inner-wrapper terms-of-service">
   <div>
       <h1>Terms of Service</h1>
   </div>
   <hr>
   <div>
        <h2>
            Overview
        </h2>
        <p>
            
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim sit amet mi id tempor. Quisque id ultricies augue. Duis auctor ipsum dolor, eu pellentesque risus pellentesque vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam nisl lorem, mollis in consectetur dapibus, rutrum ac neque. Cras dui risus, vehicula vel metus sed, dictum facilisis lorem. Sed placerat odio vitae elementum porta. Etiam luctus eros at ante pretium, a malesuada risus consectetur. Vivamus efficitur nibh eget malesuada sagittis. Phasellus nec urna molestie, gravida lectus eu, egestas urna.
        </p>
        <h2>
            Section 1:
        </h2>
        <p>
            
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim sit amet mi id tempor. Quisque id ultricies augue. Duis auctor ipsum dolor, eu pellentesque risus pellentesque vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam nisl lorem, mollis in consectetur dapibus, rutrum ac neque. Cras dui risus, vehicula vel metus sed, dictum facilisis lorem. Sed placerat odio vitae elementum porta. Etiam luctus eros at ante pretium, a malesuada risus consectetur. Vivamus efficitur nibh eget malesuada sagittis. Phasellus nec urna molestie, gravida lectus eu, egestas urna.
        </p>
   </div>
</div>
