<div class="inner-wrapper" id="customer-profile">
    <div class="customer-profile-header">
        <img align="left" class="customer-image-lg" src="../assets/customer-header-img.jpg" alt="Profile image example"/>
        <img align="left" class="customer-image-profile thumbnail" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile image example"/>
        <div class="customer-profile-text break-long-words">
            <h1>{{customer_name}}</h1>
        </div>
    </div>

    <div class="customer-details-container break-long-words">
      <div class="row">
        <div class="col-sm-4">
          <h4>Details</h4>
          <hr>
          <h6>Address</h6>
          <p>{{customer_address}}</p>
          <h6>Contact</h6>
          <p>{{customer_contact}}</p>
          <div class="my-lg-0 inverted-color-button">
            <button class="btn btn-outline go-edit-CProfile" type="button">Edit</button>
          </div>
        </div>
        <div class="customer-orders col-sm-8"  id="customer-order-history" >
          <h4>Order History</h4>
          <hr>
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}

        </div>
      </div>
    </div>


</div>
