<div class="inner-wrapper">
    <div class="customer-profile-header">
        <img align="left" class="customer-image-lg" src="assets/customer-header-img.jpg" alt="Profile image example"/>
        <img align="left" class="customer-image-profile thumbnail" src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="Profile image example"/>
        <div class="customer-profile-text">
            <h1>Customer Name</h1>
        </div>
    </div>

    <div class="customer-details-container">
      <div class="row">
        <div class="col-4">
          <h4>Details</h4> 
          <hr>
          <h6>Address</h6>
          <p>XX BLDG, XX Street, XXXX City ZIP</p>
          <h6>Contact</h6>
          <p>XX XXXX XXXX</p>
          <h6>Email</h6>
          <p>XXXXX@XXXX.com</p>
        </div>
        <div class="customer-orders col-8"  id="customer-order-history" >
          <h4>Order History</h4>
          <hr>
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}
          {{>customer_order}}

        </div>
      </div>
    </div>
    

</div>


